<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>文本图片</title>
    <style>

        .one-t td {
            border: solid black;
            border-width: 1px 1px 1px 1px;
            height: 30px;
        }

        .two-t td {
            border: solid #216897;
            border-width: 1px 1px 1px 1px;
            height: 30px;
        }

        .three-t td {
            border: solid #A64E00;
            border-width: 1px 1px 1px 1px;
            height: 30px;
        }

        .remove td {
            border-top: 0px;
        }

    </style>
</head>
<body>
<div style="width: 794px;height: 1123px; font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 微软雅黑, Tahoma, Arial, sans-serif; ">
    <div style="height: 40px; width: 600px"></div>
    <!--第一份-->
    <div style="height: 320px;width: 750px;margin-right: auto;margin-left: auto">
        <div>
            <div style="text-align: center;font-size: 18px;width: 750px;font-weight: 700">全国道路货运车辆公共监督与服务平台</div>
        </div>
        <div>
            <div style="text-align: center;font-size: 19px">入网证明</div>
            <div style="text-align: right;width: 720px">编号:5</div>
        </div>
        <div style="text-align: center">
            <div style="width: 10px;float: right;font-size: 10px">
                <div style="height: 30px"></div>第一联<div style="height: 15px"></div>存根联</div>
            <table style="width: 730px;float: left; border-bottom: 0px; border: black;font-size: 12px;border-collapse: collapse"
                   class="one-t"
                   border="1px solid black"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" style="width: 20px">车辆信息</td>
                    <td width="132px" height="50px">车属单位</td>
                    <td colspan="4">广东邮政物流配送服务有限公司1</td>
                </tr>
                <tr>
                    <td>车架号码<br/>(VIN)</td>
                    <td width="200px">LFNALU41B16239</td>
                    <td rowspan="2" width="100px">车辆牌照</td>
                    <td width="100px">牌号</td>
                    <td>粤AB5985</td>
                </tr>
                <tr>
                    <td>车辆类别</td>
                    <td>大型汽车</td>
                    <td>颜色</td>
                    <td>黄色</td>
                </tr>
            </table>
            <table style="width: 730px;float: left; border-bottom: 1px; border: black;font-size: 12px;border-collapse: collapse"
                   class="one-t remove"
                   border="1px solid black"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" width="153px" align="left" valign="top" style="height: 80px">操作人签字:</td>
                    <td rowspan="3" width="200px" align="left" valign="top">领取人签字:</td>
                    <td width="100px" style="height: 30px">
                        联网联控状态
                    </td>
                    <td>正常</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">平台隶属:南京天朗电子科技有限公司山东分公司<br/>2021年02月19日</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <div style="width: 730px">
            <div style="width :620px;float: left;font-size: 11px">
                备注:泰赛电子有限公司监制。地址：泰山区大白峪汽车城运丰大酒店泰赛北斗2楼219室。联系电话：0538-8337775 未加
                盖本公司防伪公章，均为仿造本公司的假入网证明！举报核实有奖。伪造开局本公司入网证明，给您带来设备无法
                正常使用，造成经济纠纷，严重侵害您的权力！
            </div>
            <div style="font-size: 11px;float: right">以上信息 手写无效</div>
        </div>
    </div>
    <div>
        <div style="float: left"><img style="width: 15px;height: 15px;"
                                      src="http://shiji.app12345.cn/picture/jiandao.png"/></div>
        <div style="float: right;width: 777px">
            <hr style="border : 1px dashed black;">
        </div>
    </div>
    <!--二-->
    <div style="height: 40px; width: 600px"></div>
    <div style="height: 320px;width: 750px;margin-right: auto;margin-left: auto;color: #216897">
        <div>
            <div style="text-align: center;font-size: 18px;width: 750px;font-weight: 700">全国道路货运车辆公共监督与服务平台</div>
        </div>
        <div>
            <div style="text-align: center;font-size: 19px">入网证明</div>
            <div style="text-align: right;width: 720px">编号:5</div>
        </div>
        <div style="text-align: center">
            <div style="width: 10px;float: right;font-size: 10px">
                <div style="height: 30px"></div>第二联<div style="height: 15px"></div>企业留存</div>
            <table style="width: 730px;float: left; border-bottom: 1px; border: #216897;font-size: 12px;border-collapse: collapse"
                   class="two-t"
                   border="1px solid #216897"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" style="width: 20px">车辆信息</td>
                    <td width="132px" height="50px">车属单位</td>
                    <td colspan="4">广东邮政物流配送服务有限公司1</td>
                </tr>
                <tr>
                    <td>车架号码<br/>(VIN)</td>
                    <td width="200px">LFNALU41B16239</td>
                    <td rowspan="2" width="100px">车辆牌照</td>
                    <td width="100px">牌号</td>
                    <td>粤AB5985</td>
                </tr>
                <tr>
                    <td>车辆类别</td>
                    <td>大型汽车</td>
                    <td>颜色</td>
                    <td>黄色</td>
                </tr>
            </table>
            <table style="width: 730px;float: left; border-bottom: 1px; border: #216897;font-size: 12px;border-collapse: collapse"
                   class="two-t remove"
                   border="1px solid #216897"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" width="153px" align="left" valign="top" style="height: 80px">操作人签字:</td>
                    <td rowspan="3" width="200px" align="left" valign="top">领取人签字:</td>
                    <td width="100px" style="height: 30px">
                        联网联控状态
                    </td>
                    <td>正常</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">平台隶属:南京天朗电子科技有限公司山东分公司<br/>2021年02月19日</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <div style="width: 730px">
            <div style="width :620px;float: left;font-size: 11px">
                备注:泰赛电子有限公司监制。地址：泰山区大白峪汽车城运丰大酒店泰赛北斗2楼219室。联系电话：0538-8337775 未加
                盖本公司防伪公章，均为仿造本公司的假入网证明！举报核实有奖。伪造开局本公司入网证明，给您带来设备无法
                正常使用，造成经济纠纷，严重侵害您的权力！
            </div>
            <div style="font-size: 11px;float: right">以上信息 手写无效</div>
        </div>
    </div>
    <div></div>
    <div>
        <div style="float: left"><img style="width: 15px;height: 15px;"
                                      src="http://shiji.app12345.cn/picture/jiandao.png"/></div>
        <div style="float: right;width: 777px">
            <hr style="border : 1px dashed black;"/>
        </div>
    </div>
    <!--三-->
    <div style="height: 40px; width: 600px"></div>
    <div style="height: 320px;width: 750px;margin-right: auto;margin-left: auto;color: #A64E00">
        <div>
            <div style="text-align: center;font-size: 18px;width: 750px;font-weight: 700">全国道路货运车辆公共监督与服务平台</div>
        </div>
        <div>
            <div style="text-align: center;font-size: 19px">入网证明</div>
            <div style="text-align: right;width: 720px">编号:5</div>
        </div>
        <div style="text-align: center">
            <div style="width: 10px;float: right;font-size: 10px">
                <div style="height: 30px"></div>第三联<div style="height: 15px"></div>主管单位留存</div>
            <table style="width: 730px;float: left; border-bottom: 1px; border: #A64E00;font-size: 12px;border-collapse: collapse"
                   class="three-t"
                   border="1px solid #A64E00"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" style="width: 20px">车辆信息</td>
                    <td width="132px" height="50px">车属单位</td>
                    <td colspan="4">广东邮政物流配送服务有限公司1</td>
                </tr>
                <tr>
                    <td>车架号码<br/>(VIN)</td>
                    <td width="200px">LFNALU41B16239</td>
                    <td rowspan="2" width="100px">车辆牌照</td>
                    <td width="100px">牌号</td>
                    <td>粤AB5985</td>
                </tr>
                <tr>
                    <td>车辆类别</td>
                    <td>大型汽车</td>
                    <td>颜色</td>
                    <td>黄色</td>
                </tr>
            </table>
            <table style="width: 730px;float: left; border-bottom: 1px; border: #A64E00;font-size: 12px;border-collapse: collapse"
                   class="three-t remove"
                   border="1px solid #A64E00"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td rowspan="3" width="153px" align="left" valign="top" style="height: 80px">操作人签字:</td>
                    <td rowspan="3" width="200px" align="left" valign="top">领取人签字:</td>
                    <td width="100px" style="height: 30px">
                        联网联控状态
                    </td>
                    <td>正常</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">平台隶属:南京天朗电子科技有限公司山东分公司<br/>2021年02月19日</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <div style="width: 730px">
            <div style="width :620px;float: left;font-size: 11px">
                备注:泰赛电子有限公司监制。地址：泰山区大白峪汽车城运丰大酒店泰赛北斗2楼219室。联系电话：0538-8337775 未加
                盖本公司防伪公章，均为仿造本公司的假入网证明！举报核实有奖。伪造开局本公司入网证明，给您带来设备无法
                正常使用，造成经济纠纷，严重侵害您的权力！
            </div>
            <div style="font-size: 11px;float: right">以上信息 手写无效</div>
        </div>
    </div>
</div>
</body>
</html>